header {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #AC2B37; 
 font-size: 25px;
}

body {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #AC2B00; 
 font-size: 20px;
}

h1 {
 font-family: Futura, Trebuchet MS;
 font-weight: bold condensed;
 color: #AC2B87; 
 font-size: 31px;
}